@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 13%;
    --foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 251 91% 95%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    overflow-x: hidden;
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@layer utilities {
  .glass-morphism {
    @apply backdrop-blur-xl bg-black/30 border border-white/10;
  }
}
